.whatUBePaying .whatUBePayingCard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid rgba(112, 112,112, 0.3);
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px auto;
    color: #595959;
}
.whatUBePaying .whatUBePayingCard b{
    font-size: 15px;
}
.whatUBePaying .whatUBePayingCard strong{
    font-size: 25px;
    font-weight: 800;
    color: #34D789;
}
.whatUBePaying .whatUBePayingUlListCard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid #34D789;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px auto;
    color: #ffffff;
    background-color: #34D789;
    font-size: 13px;
    
}
.whatUBePaying .whatUBePayingUlListCard ul{
    list-style: none;
    margin-left: -20px;
}
.whatUBePaying .whatUBePayingUlListCard ul li{
    padding: 3px 0px;
    position: relative;
    list-style: none;
}

.whatUBePaying .whatUBePayingUlListCard ul li::after{
    content: "\f04b";
    position: absolute;
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    left: -15px;
    top: 9px;
}



.box_Img_Card{
    background: #FFFFFF;
    box-shadow: 0px 3px 10px #0000001A;
    border-radius: 11px;
    margin: 15px auto;
    padding: 0px;
    overflow: hidden;
}
.box_Img_Card_body{
    padding: 15px;
}




.box_Img_Card_body table.table{
    margin: 0px;
}
.box_Img_Card_body table.table,
.box_Img_Card_body table.table tr,
.box_Img_Card_body table.table tr th,
.box_Img_Card_body table.table tr td{
    border: 0px;
    vertical-align: middle;
    padding: 0px;
}
.box_Img_Card_body table.table tr th{
    font-size: 12px;
    font-weight: 300;
}
.box_Img_Card_body table.table tr td{
    font-size: 14px;
    font-weight: 500;
}
.box_Img_Card_body table.table tr td strong{
    font-size: 20px;
    font-weight: 900;
    color: #34D789;;
}
.Cancellations_Policy_Card ul{
    list-style: none;
    margin-left: -20px;
}
.Cancellations_Policy_Card ul li{
    font-size: 12px;
    position: relative;
    padding: 3px 0px;
    margin-bottom: 10px;
}
.Cancellations_Policy_Card ul li::after{
    content: "\f04b";
    position: absolute;
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    left: -15px;
    top: 9px;
    color: #000;
}
.Cancellations_Policy_Card ul a{
    font-size: 12px;
}





.space_booking_list{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px #0000001A;
    margin: 15px auto;
}
.space_booking_list_header{
    display: flex;
    flex-wrap: wrap;
    background-color: #ccf5e1;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 15px;
}
.space_booking_list_header h5,
.space_booking_list_header i{
    font-size: 20px;
    color: #333333;
}
.space_booking_list_header h5 i{
    color: #34D789;
}
.book_space_ctrl{
    background-color: #34D789;
    min-height: 200px;
}
.space_booking_list_body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
}
.space_booking_list_body h5{
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.space_booking_list_body .space_booking_image{
    width: 180px;;
    border-radius: 10px;
    overflow: hidden;
}
.space_booking_list_body .space_booking_image img{
    height: 150px;
    width: 180px;
}
.space_booking_list_body table.table tr th,
.space_booking_list_body table.table tr td{
    padding: 0px;
}





.space_booking_list.disable .space_booking_list_header,
.space_booking_list.disable .book_space_ctrl{
    background-color: #5959594D;
}
.space_booking_list.disable,
.space_booking_list.disable .space_booking_list_body{
    opacity: 0.5;
}
.space_booking_list.disable  button.btn.btn_milky_grn{
    border-color: #595959;
    color: #595959;
}
.space_booking_list.disable  button.btn.btn_success_milky_outline{
    background-color: #595959;
}


.space_booking_list.disable  button.btn.btn_milky_grn:hover{
    border-color: #595959;
    color: #ffffff;
    background-color: #595959;
}
.space_booking_list.disable  button.btn.btn_success_milky_outline:hover{
    background-color: #ffffff;
    border-color: #595959;
    color: #595959;
}














.bookingChat .no_any_chat_card .box_CardBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 575px;
}



.bookingChat .box_CardBody{
    min-height: 575px;
    padding: 20px 30px;
}
// #C6F1DB






.chat_text_field{
    border: 1px solid #34d789;
    border-radius: 25px;
    overflow: hidden;
}
.chat_text_field .form-control{
    border: 0px;
    outline: none !important;
    box-shadow: none !important;
}
.chat_text_field .btn.btn_attachment{
    border: 0px;
    background-color: transparent !important;
    padding-left: 0px;
    padding-right: 0px;
}
.chat_text_field .btn.btn_send{
    border: 0px;
    background-color: transparent !important;
    padding-left: 0px;
}
.chat_text_field .btn.btn_attachment:hover,
.chat_text_field .btn.btn_send:hover{
    opacity: 0.7;
}

.bookingChat table.table tr th strong,
.bookingChat table.table tr td strong{
    font-size: 15px;
}
.bookingChat table.table tr th{
    font-size: 9px;
    font-weight: 700;
}

.WorkspaceWarehouse_bookingCard h5{
    font-size: 17px;
    font-weight: 700;
}
.WorkspaceWarehouse_bookingCard small{
    font-size: 10px;
    font-weight: 500;
}
.WorkspaceWarehouse_bookingCard .box_Img_Card_footer{
    border-top: 1px solid #0000001A;
    border-top-style: dashed;
}



.booking_chat_user_list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #0000001A;
}
.booking_chat_user_list:last-child{
    border-bottom: 0px;
}
.booking_chat_user_list .booking_chat_user_icn,
.booking_chatMsg .booking_chat_user_icn{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #34d789;
    display: block;
    text-align: center;
    line-height: 38px;
    padding: 0px;
    color: #ffffff;
}

.booking_chat_user_list .booking_chat_user_icn img,
.booking_chatMsg .booking_chat_user_icn img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.booking_chatMsg .booking_chat_user_icn span{
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
}   
.booking_chat_user_list .booking_chat_user_details{
    line-height: 1;
}
.booking_chat_user_list .booking_chat_user_details h5{
    margin: 0px;
    font-size: 15px;
}





//  booking chat Msg
.booking_chatMsg{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.booking_chatMsg .booking_chat_user_details{
    width: calc(100% - 60px);
    clear: both;
}
.booking_chatMsg .booking_chat_user_details .booking_chat_user_name{
    padding-bottom: 0px;
}
.booking_chatMsg .booking_chat_user_details .text_msg{
    background-color: #ccf5e1;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    display: inline-block;
}
.booking_chatMsg.MsgByMe .booking_chat_user_details .text_msg{
    background-color: #ffffff;
    border: 1px solid #ccf5e1;;
}
.booking_chatMsg .booking_chat_user_details .timing{
    font-size: 11px;
    display: block;
    text-align: right;
}
