@import '../../../App.scss';
footer{
    background: $shamrock_color;
}
.footer_content{
    padding-top: 30px;
    padding-bottom: 30px;
}
.brand_logo{
    max-width: 200px;
}
.footer_links h4{
    color: $milky_color;
    font-size: 20px;
}
.footer_links a.nav-link{
    padding: 3px 0px 3px 0px;
    color: $milky_color;
    font-weight: 300;
    transition-duration: 300ms;;
}
.footer_links a.nav-link:hover{
    text-decoration: underline
}
.social_links{
    margin-top: 10px;
}
.social_links .nav-link{
    margin: 5px 5px 5px 0px;
    width: 36px;
    height: 36px;
    padding: 0px;
    line-height: 34px;
    border: 1px solid $milky_color;
    color: $milky_color;
    text-align: center;
    border-radius: 50%;
}


footer hr{
    border-color: $milky_color;
    opacity: 0.2;
}
.copyright_section{
    color: $milky_color;
    padding-bottom: 20px;
}
.copyright_section a{
    color: $milky_color;
    padding: 0px;
    margin-left:  30px;
}