@import '../../../App.scss';


.register_hdng{
    font-size: 25px;
    font-weight: 700;
}
.register_hdng span{
    color: $shamrock_color;
}

.register_card{
    background-color: $milky_color;
    border-radius: 20px;
    box-shadow: 0px 2px 40px #0000001A;
    padding: 30px 20px;
}
.sign_with_google_btn{
    border-color: $shamrock_color;
    background-color: transparent;
    color: $zambezi_color;
    box-shadow: 0px 19px 21px -15px $shamrock_color;
}
.sign_with_google_btn:hover{
    border-color: $shamrock_color;
    background-color: transparent;
    color: $zambezi_color;
}


.sign_with_fb_btn{
    border-color: $deep_sky_color;
    background-color: transparent;
    color: $zambezi_color;
    box-shadow: 0px 19px 21px -15px $shamrock_color;
}
.sign_with_fb_btn:hover{
    border-color: $deep_sky_color;
    background-color: transparent;
    color: $zambezi_color;
}


.sign_with_google_btn img,
.sign_with_fb_btn img{
    width: 16px;
    margin-right: 10px;
}



.or_divider{
    text-align: center;
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 20px;
    position: relative;
}
.or_divider::after{
    position: absolute;
    content: '';
    width: 100%;
    height: calc(1px / 2);
    background-color: #ced4da;
    top: 23px;
    left: 0px;
}
.or_divider span{
    width: 40px;
    height: 40px;
    background: #ffffff;
    position: relative;
    z-index: +9;
    display: block;
    margin: 0 auto;
    color: #595959;
}
.link_text{
    color: #595959;
}