@import '../../../App.scss';


.register_hdng{
    font-size: 25px;
    font-weight: 700;
}
.register_hdng span{
    color: $shamrock_color;
}
.register_bg{
    background-image: url('../../../assets/front/images/img/catoons.svg');
    background-attachment: fixed;
    background-size: 300px;
    background-position: left 150px  top 45vh;
    background-repeat: no-repeat;
    position: relative;
}
.register_bg::after{
    content: '';
    background: url('../../../assets/front/images/img/family.svg');
    background-attachment: fixed;
    background-size: 300px;
    background-position: right 150px  top 50vh;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
}


@media (max-width: 1199px){
    .register_bg{
        background-position: left 50px  top 45vh;
        background-size: 200px;
    }
    .register_bg::after{
        background-position: right 50px  top 50vh;
        background-size: 200px;
    }
}
@media (max-width: 1024px){
    .register_bg{
        background-position: left 50px  top 45vh;
        background-size: 150px;
    }
    .register_bg::after{
        background-position: right 50px  top 50vh;
        background-size: 150px;
    }
}

@media (max-width: 767px){
    .register_bg,
    .register_bg::after{
        background-image: none;
    }
}
.register_card{
    background-color: $milky_color;
    border-radius: 20px;
    box-shadow: 0px 2px 40px #0000001A;
    padding: 30px 20px;
}
.sign_with_google_btn{
    border-color: $shamrock_color !important;
    background-color: transparent !important;
    color: $zambezi_color !important;
    box-shadow: 0px 19px 21px -15px $shamrock_color !important;
    border-radius: 25px !important;
    text-align: center !important;
    justify-content: center;
}

.sign_with_google_btn:hover{
    border-color: $shamrock_color !important;
    background-color: $shamrock_color !important;
    color: $milky_color !important;
    box-shadow: 0px 19px 21px -15px $zambezi_color !important;
    border-radius: 25px !important;
    text-align: center !important;
    justify-content: center;
}
.sign_with_google_btn *{
    text-align:  center !important;
    background-color: transparent !important;
}
.sign_with_google_btn > div{
    padding: 7px !important;
    margin-right: 5px !important;
}
.sign_with_google_btn span{
    padding: 7px !important;
}


.sign_with_fb_btn{
    border-color: $deep_sky_color;
    background-color: transparent;
    color: $zambezi_color;
    box-shadow: 0px 19px 21px -15px $shamrock_color;
}
.sign_with_fb_btn:hover{
    border-color: $deep_sky_color;
    background-color: $deep_sky_color;
    color: $milky_color;
    box-shadow: 0px 19px 21px -15px $zambezi_color !important;
}
.sign_with_fb_btn i{
    margin-right: 10px;
    color: #000bff;
}


.sign_with_google_btn img,
.sign_with_fb_btn img{
    width: 16px;
    margin-right: 10px;
}



.or_divider{
    text-align: center;
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 20px;
    position: relative;
}
.or_divider::after{
    position: absolute;
    content: '';
    width: 100%;
    height: calc(1px / 2);
    background-color: #ced4da;
    top: 23px;
    left: 0px;
}
.or_divider span{
    width: 40px;
    height: 40px;
    background: #ffffff;
    position: relative;
    z-index: +9;
    display: block;
    margin: 0 auto;
    color: #595959;
}
.link_text{
    color: #595959;
}