@import '../../../App.scss';

.create_your_list_area{
    min-height: 650px;
    width: 100%;
}
.create_your_list_map{
    width: 50%;
    height: 650px;
    position: absolute;
    top: 75px;
    right: 0px;
}

.create_your_list_map img{
    width: 100%;
    height: 657px !important;
}


@media (max-width: 1199px){
    .create_your_list_area{
        height: auto;
    }
    .create_your_list_map{
        width: 100%;
        height: 650px;
        position: relative;
    }
    .create_your_list_map img{
        width: 100%;
        height: 500px !important;
    }
}










.step_nav_list_strip{
    background-color: $shamrock_color;
    padding: 20px 0px;
}

.step_nav_list{
    font-size: 14px;
    color: #ffffff;
}

.step_nav_list span{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: $shamrock_color;
    display: block;
    line-height: 54px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 15px;
    position: relative;
    z-index: +9;
}
.step_nav_list span img{
    max-width: 20px;
}



.step_nav_list li{
    position: relative;
}
.step_nav_list li::after{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 3px dotted #ffffff;
    top: 28px;
    left: 0px;
}
.step_nav_list li:first-child::after{
    width: 100%;
    left: 50%;
}
.step_nav_list li:last-child::after{
    width: 50%;
}
.step_nav_list li.completed::after{
    border-bottom: 3px solid #ffffff;   
    width: 100%;
    left: 50%;
}
.step_nav_list li.completed:last-child::after{ 
    width: 50%;
    left: 0%;
}
.step_nav_list li.completed span{
    background-color: $milky_color;
}
.wrapperClassName{
    border: 1px solid #33333339;
}
.editorClassName{
    min-height: 100px;
    padding: 0px 15px;
}


.sizeSpaceRow{
    display: flex;
    width: 100%;
}
.sizeSpaceWidth{
    width: 200px;
    padding-right: 10px;
}
.sizeSpaceWidth .input-group-text{
    background: $shamrock_color;
    border-radius: 25px;
    color: $milky_color;
}
.sizeSpaceWidthUnit{
    width: 100px;
}
.PricingRow,
.GetYourEarningsRow{
    display: flex;
    width: 100%;
    align-items: center;
}
.PricingCol{
    width: 150px;
    padding-right: 10px;
}
.GetYourEarningsCol{
    padding-right: 10px;
}
.PricingCol .input-group-text,
.GetYourEarningsCol .input-group-text{
    background: $shamrock_color;
    border-radius: 25px;
    color: $milky_color;
}
.GetYourEarningsCol .input-group-text{
    border-color: $shamrock_color;
}
.GetYourEarningsCol .form-control{
    background: $shamrock_color;
    border-color: $shamrock_color;
    color: $milky_color;
    padding: 0px;
    font-weight: 900;
}
.GetYourEarningsCol .btn{
    background: $shamrock_color;
    border-color: $shamrock_color;
    color: $milky_color;
    width: 150px;
    font-weight: 900;
}
.sizeSpaceWidthUnit{
    width: 100px;
}