@import '../../../App.scss';

.create_your_list_area{
    min-height: 650px;
    width: 100%;
}
.create_your_list_map{
    width: 50%;
    height: 650px;
    position: absolute;
    top: 75px;
    right: 0px;
}

.create_your_list_map img{
    width: 100%;
    height: 657px !important;
}


@media (max-width: 1199px){
    .create_your_list_area{
        height: auto;
    }
    .create_your_list_map{
        width: 100%;
        height: 650px;
        position: relative;
    }
    .create_your_list_map img{
        width: 100%;
        height: 500px !important;
    }
}










.step_nav_list_strip{
    background-color: $shamrock_color;
    padding: 20px 0px;
}

.step_nav_list{
    font-size: 14px;
    color: #ffffff;
}

.step_nav_list span{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: $shamrock_color;
    display: block;
    line-height: 54px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 15px;
    position: relative;
    z-index: +9;
}
.step_nav_list li span img.complete_step_img{
    display: none;
}
.step_nav_list li span img.incomplete_step_img{
    display: inline-block;
}

.step_nav_list li.completed span img.complete_step_img{
    display: inline-block;
    cursor: pointer;
}
.step_nav_list li.completed span img.incomplete_step_img{
    display: none;
}



.step_nav_list span img{
    width: 30px;
    height: 30px;
}



.step_nav_list li{
    position: relative;
}
.step_nav_list li::after{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 3px dotted #ffffff;
    top: 28px;
    left: 0px;
}
.step_nav_list li:first-child::after{
    width: 100%;
    left: 50%;
}
.step_nav_list li:last-child::after{
    width: 50%;
}
.step_nav_list li.completed::after{
    border-bottom: 3px solid #ffffff;   
    width: 100%;
    left: 50%;
}
.step_nav_list li.completed:last-child::after{ 
    width: 50%;
    left: 0%;
}
.step_nav_list li.completed span{
    background-color: $milky_color;
}
.wrapperClassName{
    border: 1px solid #33333339;
}
.editorClassName{
    min-height: 100px;
    padding: 0px 15px;
}


.sizeSpaceRow{
    display: flex;
    width: 100%;
}
.sizeSpaceWidth{
    width: 200px;
    padding-right: 10px;
}
.sizeSpaceWidth .input-group-text{
    background: $shamrock_color;
    border-radius: 25px;
    color: $milky_color;
}
.sizeSpaceWidthUnit{
    width: 100px;
}
.PricingRow,
.GetYourEarningsRow{
    display: flex;
    width: 100%;
    align-items: center;
}
.PricingCol{
    width: 150px;
    padding-right: 10px;
}
.GetYourEarningsCol{
    padding-right: 10px;
}
.PricingCol .input-group-text,
.GetYourEarningsCol .input-group-text{
    background: $shamrock_color;
    border-radius: 25px;
    color: $milky_color;
}
.GetYourEarningsCol .input-group-text{
    border-color: $shamrock_color;
}
.GetYourEarningsCol .form-control{
    background: $shamrock_color;
    border-color: $shamrock_color;
    color: $milky_color;
    padding: 0px;
    font-weight: 900;
}
.GetYourEarningsCol .btn{
    background: $shamrock_color;
    border-color: $shamrock_color;
    color: $milky_color;
    width: 150px;
    font-weight: 900;
}
.sizeSpaceWidthUnit{
    width: 100px;
}
.dropzone_section{
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 39px #34D7893B;
}
.dropzone {
    text-align: center;
    border: 1px dashed $shamrock_color;
    border-radius: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

.dropzone.upload_verify_id{
    min-height: 200px;
}
.dropzone *{
    outline: 0px;
}
.dropzone p{
    margin: 0;
}
.dropzone span{
    margin: 0;
    font-weight: 700;
    cursor: pointer;
}
.uploaded_images{
    width: 100%;
    align-items: center;
    justify-self: start;
}
.uploaded_images img{
    max-width: 80px;
    width: 100%;
    margin: 20px 3px;
}

// Street View











.photos_of_space_row{
    display: flex;
}
.photos_of_space_img_col{
    flex: 0 0 120px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.photos_of_space_img_col{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.photos_of_space_img_col .uploader_user img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.uploader_change_own_img{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: transparent linear-gradient(262deg, rgba(52, 215, 137 ,0.7) 0%, rgba(27, 189, 246,0.7) 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    padding: 0px 2px 2px 0px;
    cursor: pointer;
}
.uploader_change_own_img img{
    width: 16px;
}
.photos_of_space_text_msg_col{
    flex: calc(100% - 120px);
    width: calc(100% - 120px);
    padding-left: 10px;
}
.photos_of_space_text_msg_col textarea{
    width: 100%;
    min-height: 120px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}
.photos_of_space_text_msg_col p{
    font-size: 15px;
    color: #333333;
}

.optionButtonSelected{
    background-color: #1BBDF6 !important;
    color: #ffffff !important; 
}
.ListPreviewCard{
    border: 1px solid rgba(52, 215, 137, 0.5);
    border-radius: 5px;
    overflow: hidden;
    margin: 15px auto;
}
.ListPreviewCardHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgba(52, 215, 137, 0.15);
    align-items: center;
}
.ListPreviewCardHeader h5{
    color: #333333;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}
.ListPreviewCardBody{
    padding: 10px;
}
.ListPreviewCardBody table.table{
    margin: 0px;
}
.ListPreviewCardBody table.table,
.ListPreviewCardBody table.table tr,
.ListPreviewCardBody table.table tr th,
.ListPreviewCardBody table.table tr td{
    border: 0px;
}
.ListPreviewCardBody table.table tr th{
    font-size: 12px;
    font-weight: 300;
}
.ListPreviewCardBody table.table tr td{
    font-size: 14px;
    font-weight: 500;
}
span.b_dt,
span.g_dt{
    padding-left: 8px;
    padding-right: 5px;
   position: relative;
}
span.b_dt::after,
span.g_dt::after{
    content: '';
   position: absolute;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   display: inline-block;
   left: 0px;
   top: 8px;
}
span.g_dt::after{
   border: 1px solid #34D789;
}
span.b_dt::after{
   border: 1px solid #1BBDF6;
}
.ListPreviewCardBody table.table tr td strong{
    font-size: 20px;
    font-weight: 900;
    color: $shamrock_color;
}

.ListPreviewCard.PreviewSizePricingCard{
    background-image: url('../../../assets/users//images/icons/homeSize.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
}
.ListPreviewCard.PreviewLocationCard{
    background-image: url('../../../assets/users//images/icons/location.png');
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
    position: relative;
    border-color: #1BBDF6;
}

.ListPreviewCard .btn-edit{
    border-color: #34D789;
    color: #34D789;
}

.ListPreviewCard.PreviewLocationCard .btn-edit{
    color: #1BBDF6;
}
.GoogleMapLocation{
    position: relative;
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 200px;

}
.PreviewAddedPhotosCard{
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #707070;
    height: 75px;
    max-width: 150px;
}



.ListPreviewCard.PreviewProfileCard .ListPreviewCardBody .PreviewProfileImg{
    max-width: 170px;
    padding: 0px;
}
.ListPreviewCard.PreviewProfileCard .ListPreviewCardBody .PreviewProfileImg img{
    width: 170px;
    height: 170px;
    border-radius: 5px;
    border: 1px solid #707070;
}
.ListPreviewCard.PreviewProfileCard .ListPreviewCardBody .PreviewProfilecontent{
    padding: 0px;
    padding-left: 15px;
}
@media (max-width: 400px){
    .ListPreviewCard.PreviewProfileCard .ListPreviewCardBody .PreviewProfileImg{
        flex: 0 0 100%;
        max-width: 100%;
    }    
    .ListPreviewCard.PreviewProfileCard .ListPreviewCardBody .PreviewProfilecontent{
        padding-left: 0px;
    }
}

.ListPreviewCheckItOut{
    background-color: #34D789;
    background-image: url('../../../assets/users//images/bg/ListPreviewCheckItOut.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom ;
    position: relative;
    border-radius: 10px;
    padding: 70px 0px 70px 70px;
    color: #ffffff;
}
.ListPreviewCheckItOut h3{
    font-size: 40px;
    font-weight: 700;
}
.ListPreviewCheckItOut p{
    font-size: 17px;
    font-weight: 100;
}

@media (max-width: 767px){
    .ListPreviewCheckItOut{
        padding: 20px 0px 20px 20px;
        background-size: 200px;
        color: #ffffff;
    }
    
.ListPreviewCheckItOut p br{
    display: none;
}
}


.PhotosSpaceUploadImagesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.PhotosSpaceUploadImages{
    width: 160px;
    padding: 5px;
}
.PhotosSpaceUploadImages .PhotosSpaceimg{
    height: 70px;
    border-radius: 10px;
    border: 1px solid #333333;
    overflow: hidden;
    display: block;
    margin: 10px auto;
}
.PhotosSpaceimg{
    max-width: 150px;
    max-height: 70px;
}
@media (max-width: 767px){
    .PhotosSpaceUploadImagesList{
        justify-content: center;
    }
}


.SetStreetView{
  background: linear-gradient(254deg, rgba(52, 215, 137 ,0.78) 0%, rgba(27, 189, 246,0.78) 100%),url('../../../assets/users/images/bg/SetStreetView.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 10px;
    border-radius: 10px;
    color: #ffffff;
}