.coming_soon_body{
    background: url('../assets/coming-soon/coming_soon_body.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-bottom: 210px;
}
.coming_soon_body img.coming_soon_logo{
    max-width: 200px;
}
.coming_soon_body h3{
    font-size: 23px;
    font-weight: 900;
    color: #34d789;
    margin-top: 20px;
}
.coming_soon_body .input-group .form-control{
    background: rgba(52, 215, 137, 0.17);
    border-color: rgba(52, 215, 137, 0.17);
    padding-left: 20px;
}
.coming_soon_body .input-group .btn{
    font-size: 14px;
}
.coming_soon_body .btn.btn_milky_grn{
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.coming_soon_body .btn.btn_milky_grn i.fa{
    padding-right: 5px;
}
.coming_soon_body h2{
    font-size: 35px;
    font-weight: 200;
}
.coming_soon_copyright{
    background: url('../assets/coming-soon/coming_soon_img2.png');
    background-size: contain;
    background-position: -50px 15px;
    height: 210px;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.coming_soon_copyright_txt{
    width: 100%;
    background-color: #34d789;
    padding: 10px;
    z-index: -1;
    position: relative;
    color: #ffffff;
}