@import '../../../App.scss';

.SearchListFilter{
    box-shadow: 0px 10px 10px -5px $nobel_color;
    margin-right: -15px;
    margin-left: -15px;
}
.SearchListFilter_Buttons .btn.btn-outline-success{
    border-radius: 15px;
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid $shamrock_color;
    color: $shamrock_color;
    margin-top: 20px;
    margin-right: 3px;
}
.SearchListFilter_Buttons .btn.btn-outline-success.dropdown-toggle::after{
    display: none;
}


.SearchListFilter_Buttons .btn.btn-outline-success:hover{
    background: $shamrock_color;
    color: $milky_color;
}
.SearchListFilter_Buttons .btn.btn-outline-warning{
    border-radius: 15px;
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid $tomato_color;
    color: $tomato_color;
    margin-top: 20px;
}
.SearchListFilter_Buttons .btn.btn-outline-warning:hover{
    background: $tomato_color;
    color: $milky_color;
}


.SearchListNavbar{
    position: relative;
    z-index: +99999;
}


@media (max-width: 991px){
    .map_area{
        display: none;
    }
}
@media (min-width: 992px){
    .map_area{
        height: 100vh;
        display: block;
        overflow: hidden;
        position: fixed;
        width: 50%;
        right: 0px;
        top: 0px;
    }
}















.SearchListPlace_row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.SearchListPlace_card{
    background: $milky_color;
    border: 1px solid #70707085;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;

}
.SearchListPlace_card_body{
    padding: 0px 10px;
}

.SearchListPlaceUserArea{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.SearchListPlace_card_body .profileImg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.SearchListPlace_card_body .profileName{
    font-size: 10px;
    margin-left: 5px;
    font-weight: 700;
}


.SearchListPlaceAreaPlace{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.SearchListPlaceAreaPlace button{
    font-size: 10px;
    border-radius: 20px;
    padding: 0px 3px;
    background: transparent;
    border: 1px solid $deep_sky_color;
    color: $deep_sky_color;
}
.SearchListPlaceAreaPlace button:hover{
    background: $deep_sky_color;;
    border: 1px solid $deep_sky_color;
    color: $milky_color;
}
.SearchListPlaceAreaPlace span{
    font-size: 10px;
    display: inline-block;
    padding-left: 4px;
}

.SearchListPlaceAreaCost{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.SearchListPlaceAreaCost strong{
    color: $shamrock_color;
    font-size: 15px;
    margin-right: 10px;
}
.SearchListPlaceAreaCost span{
    color: $shamrock_color;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    padding-left: 10px;
}
.SearchListPlaceAreaCost span::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $shamrock_color;
    left: 2px;
    bottom: 7px;
}





.SearchListPlace_col{
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 576px){

.SearchListPlace_col{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 5px;
    padding-left: 5px;
}
}









.dropdown-menu.switch_dropdown_menu {
    box-shadow: 0px 0px 10px 0px #7c7c7c;
    top: 55px;
}

.switch_dropdown_row{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.switch_col{   
    flex: 0 0 50%;
    max-width: 50%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
}

@media (max-width: 392px){
.switch_dropdown_row{
    width: 220px;
}
.switch_col{    
    flex: 0 0 100%;
    max-width: 100%;
}
}


.switch_label_name{
    font-size: 18px;
    margin-left: 10px;
    color: #595959CC;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 8px 0px 0px 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color:#59595929;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: $milky_color;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $shamrock_color;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $shamrock_color;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



.choose_your_location .form-control:focus {
    box-shadow: none;
    border-color: #ced4da !important;
    border-right: 0px;
}
  .choose_your_location .your_location_icon{
      position: relative;
      width: 35px;
      background: #ffffff;
      border-left: 0px;
      border-color: #ced4da !important;
}
  .choose_your_location .your_location_icon span{
    display: block;
    height: 18px;
    left: 6px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 9px;
    width: 18px;
    background-image: url('../../../assets/front/images/icons/location.svg');
    background-size: contain;
}

.choose_your_location .details_your_location_map{
    position: relative;
    height: 400px;
    overflow: hidden;
    width: 100%;
}
.choose_your_location .details_your_location_map img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: scroll;
}












.features_icon{
    background-color: #FFFFFF;
    text-align: center;
    padding: 21px;
    margin-top: 30px;
    min-height: 150px;
}
.features_icon img{
    max-width: 50px;
    max-height: 50px;
}
.features_icon p{
    font-weight: 700;
    margin: 0px;
    margin-top: 10px;
}

.access_card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    text-align: left;
    padding: 21px;
    margin-top: 30px;
    min-height: 150px;
}
.access_card img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
}
.access_card strong{
    font-weight: 700;
    margin: 0px;
    display: block;
}
.access_card p{
    font-weight: 200;
    margin: 0px;
    display: block;
    font-size: 15px;
}




.host_card{
    display: flex;
    align-items: center;
}
.host_card img{
    max-width: 70px;
    max-height: 70px;
    margin-right: 20px;
}
.host_card h4{
    margin: 0px;
    font-size: 23px;
}
.host_card small{
    margin: 5px 0;
    display: block;
    color: $tomato_color;
}
.book_space_card{
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px #7c7c7c;
    min-height: 500px;
    border-radius: 5px;
}
.book_space_card_body,
.book_space_card_footer{
    padding: 25px;
}
.book_space_card_footer{
    border-top: 1px dashed #70707033;
}
.book_space_card .SearchListPlaceAreaCost{
    margin-top: 20px;
    margin-bottom: 20px;
}
.book_space_card .SearchListPlaceAreaCost *{
    font-size: 22px;
    font-weight: 900;
}
.book_space_card_footer .d-flex{
    margin-top: 10px;
}
.book_space_card_footer .d-flex img{
    max-width: 25px;
}
.book_space_card_footer .d-flex p{
    color: #595959;
    font-weight: 300;
}
