.side_menu{
    position: fixed;
    right: -260px;
    top: 0px;
    height: calc(100vh - 0px);
    width: 250px;
    background-color: #F3FCFF;
    transition-duration: 500ms;
    box-shadow: -3px 10px 10px 0px #aaaaaa;
    overflow-y: auto;
    z-index: -0;
}
.side_menu.open_side_menu{
    right: 0px;
    z-index: +99999999999999999;
}
.side_menu a{
    display: block;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
    padding: 20px 25px;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    height: 65px;
    // background-color: #ffffff;
}
.side_menu a:hover{
    background-color: #ffffff;
}
a.close_menu{
    width: 65px;
    height: 65px;
    line-height: 65px;
    background-color: #F3FCFF !important;
    text-align: center;
    right: 250px;
    top: 0px;
    padding: 0px;
    position: fixed;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    z-index: -99 !important;
}





.side_menu a.close_menu{
    right: -100%;
    transition-delay: 0ms;
    transition-duration: 0ms;
}
.side_menu.open_side_menu a.close_menu{
    right: 250px;
    transition-delay: 500ms;
    transition-duration: 500ms;
}
a.close_menu .fa.fa-times{
    font-size: 25px !important;
}




