
// this is front/responsive.scss

@import '../../../App.scss';

@media (max-width: 1199px){
    .Left_hf_sky_blue_card{
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 767px){
.Left_hf_sky_blue_card{
    padding: 0px 0px 50px 0px;
}
.copyright_section{
    font-size: 12px;
    padding-bottom: 10px;
}
.location_search_bar .input-group-text,
.location_search_bar .form-control,
.location_search_bar.input-group > .input-group-append > .btn{
    height: 35px !important;
    font-size: 15px !important;
}

.here_to_help_you .location_search_bar .input-group-text,
.here_to_help_you .location_search_bar .form-control,
.here_to_help_you .location_search_bar.input-group > .input-group-append > .btn{
    height: 45px !important;
    font-size: 1rem !important;
}
}
@media (max-width: 450px){
    .location_search_bar .input-group-text,
    .location_search_bar .form-control,
    .location_search_bar.input-group > .input-group-append > .btn{
        height: 30px !important;
        font-size: 12px !important;
    }
}



@media (max-width: 1024px){
    .connecting_people,
    .right_hf_sky_blue_card{
        padding: 50px 0px 50px 0px;
    }
    .Left_hf_sky_blue_card::before,
    .Left_hf_sky_blue_card::after,
    .right_hf_sky_blue_card::after,
    .right_hf_sky_blue_card::before{
        display: none;
    }
    .some_empty_space_text,
    .here_to_help_you{
        padding: 30px;
    }
}

@media (max-width: 768px){
    
    .home_banner,
    .page_banner{
        padding-top: 50px;
    }
    .home_banner_content h2,
    .page_banner_content h2{
        font-size: 25px;
    }
    .home_banner_content p,
    .page_banner_content p{
        font-size: 15px;
    }
    .page_banner_content p.sm_font{
        font-size: 12px;
    }
    .stash_guru_user_slider .carousel-item h3,
    .some_empty_space_text h3,
    .here_to_help_you h3{
        font-size: 20px;
    }
}

