

@media (max-width: 1199px){
    .Left_hf_sky_blue_card{
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 767px){
.Left_hf_sky_blue_card{
    padding: 0px 0px 50px 0px;
}
.copyright_section{
    font-size: 12px;
    padding-bottom: 10px;
}
.location_search_bar .input-group-text,
.location_search_bar .form-control,
.location_search_bar.input-group > .input-group-append > .btn{
    height: 35px !important;
    font-size: 12px !important;
}
}

