// banner section style start here
@import '../../../App.scss';
.user_area{
    margin-top: 10px;
    margin-bottom: 10px;
}
.user_area img{
    margin-right: 10px;
}
.user_area strong{
    font-size: 13px;
    margin: 0px;
}
.user_area small{
    font-size: 10px;
    margin: 0px;
}




.home_banner{
    background-color: #ffffff;
    background-image: url('../images/bg/banner_bg_img.svg');
    background-size: cover;
    padding-top: 100px;
}
.home_banner img{
    padding-top: 50px;
}

.home_banner_content h2{
    font-weight: 900;
    font-size: 50px;
}
.home_banner_content p{
    font-size: 25px;
    color: $zambezi_color;
}

.location_search_bar .input-group-text,
.Create_list_location_search_bar .input-group-text{
    background-color: $milky_color;
    border-right: 0px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: $deep_sky_color;
    border-color: $shamrock_color;
    font-size: 20px;
    padding-left: 20px;
}
.location_search_bar .form-control,
.Create_list_location_search_bar .form-control{
    border-left: 0px;
    outline: none !important;
    box-shadow: none !important;
    border-color: $shamrock_color;
}
.location_search_bar .input-group,
.Create_list_location_search_bar .input-group{
    box-shadow: none;
    border-radius: 30px;
}
.location_search_bar .input-group-text,
.location_search_bar .form-control,
.location_search_bar.input-group > .input-group-append > .btn,
.Create_list_location_search_bar .input-group-text,
.Create_list_location_search_bar .form-control,
.Create_list_location_search_bar.input-group > .input-group-append > .btn{
    height: 48px;
}








.location_search_bar .location-search-input{
    border-left: 0px;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $shamrock_color;
    width: 100%;
    min-height: 48px;
    border-radius: 28px;
    padding: 0px 15px 0px 35px;
}

.location_search_bar{
    position: relative;
}
.location_search_bar::after{
    position: absolute;
    content: "\f041";
    left: 15px;
    top: 24px;
    transform: translateY(-50%);
    display: inline-block;
    font: normal normal normal 17px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #1bbdf6;
}
.location_search_bar .btn.btn-success{
    position: absolute;
    top: 0;
    width: 50px;
    height: 48px;
    right: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 20px;
}
.autocomplete-dropdown-container{
    position: absolute;
    width: 100%;
    top: 50px;
    padding-left: 30px;
    padding-right: 50px;
    z-index: +9;
}
.here_to_help_you .autocomplete-dropdown-container{
    color: #333333;
}


.top_search form{
    width: calc(100% - 50px);
}
@media (max-width: 1199px){

    .top_search form{
        width: 100%;
    }
}

.top_search{
    position: relative;
}
.location_search_bar.form-group{
    margin-bottom: 0px;
    margin-bottom: 0px;
}
.top_search .error_msg{
    position: absolute;
    top: 47px;
    left: 40px;
    font-size: 10px;
}
.top_search .autocomplete-dropdown-container,
.here_to_help_you .autocomplete-dropdown-container{
    padding-left: 0px;
    padding-right: 0px;
}
// .here_to_help_you .location_search_bar.input-group,
// .location_search_bar.input-group{
//     border: 1px solid $shamrock_color;
//     border-radius: 25px;
// }
































.input-group>.input-group-append>.btn, 
.input-group>.input-group-append>.input-group-text, 
.input-group>.input-group-prepend:first-child>.btn:not(:first-child), 
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), 
.input-group>.input-group-prepend:not(:first-child)>.btn, 
.input-group>.input-group-prepend:not(:first-child)>.input-group-text{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-color: $shamrock_color;
    box-shadow: none !important;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.location_search_bar.input-group > .input-group-append > .btn{
    padding: 0px 15px;
}



// Browse Connect Store style here

.after_banner_strip{
    background-color: $alice_blue_color;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ab_strip_card{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.ab_strip_card_icon{
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: #c7f4e4;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
.ab_strip_card_icon img{
    max-width: 40px;
}
.ab_strip_card_content{
    width: calc(100% - 90px);
    padding-left: 20px;
}
.ab_strip_card_content h4{
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
    color: #32D78A;
}
.ab_strip_card_content p{
    font-size: 14px;
    margin: 0px;
    color: #8E8E8E;
}





// Connecting People Style here
.clr_bg_stash_hdng{
    font-size: 40px;
    font-weight: 700;
}
.clr_bg_stash_hdng span{
    color: $shamrock_color;
}
.pg_bg_hdng{
    font-size: 35px;
    font-weight: 700;
}
.stash_hdng{
    position: relative;
    padding-left: 10px;
}
.stash_hdng::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 55px;
    background-color: $shamrock_color;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.stash_hdng h3{
    margin: 0px;
    font-size: 35px;
    font-weight: 700;
    color: #333333;
}
@media (max-width: 768px){
    .clr_bg_stash_hdng{
        font-size: 30px;
    }
    .pg_bg_hdng{
        font-size: 25px;
    }
    .stash_hdng h3{
        font-size: 25px;
    }
}
.stash_hdng small{
    margin: 0px;
    display: block;
}


.stash_hdng.milky h3,
.stash_hdng.milky small{
    color: $milky_color;
}
.stash_hdng.milky::after{
    background-color: $milky_color;
}






.connecting_people .stash_hdng{
    margin-bottom: 70px;
}

.connecting_people{
    position: relative;
    padding: 150px 0px 150px 0px;
    overflow: hidden;
}
.connecting_people::after{
    content: '';
    position: absolute;
    background-image: url('../images/bg/polygon.svg');
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position:  100px 0px;
    top: -100px;
    right: -150px;
    width: 1000px;
    height: 1000px;
}
.connecting_people_polygon_img img{
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    display: block;
    position: relative;
    z-index: +1;
}




.connecting_people_card{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    max-width: 350px;
}
.connecting_people_img{
    width: 60px;
    height: 60px;
    text-align: center;
}
.connecting_people_img img{
    max-width: 60px;
}
.connecting_people_text{
    margin-left: 20px;
}
.connecting_people_text h6{
    margin: 0px;
}
.connecting_people_text p{
    font-size: 12px;
    margin-top: 5px;
}










// Get Some Empty Space? style here
.Left_hf_sky_blue_card{
    background-color: $alice_blue_color;
    position: relative;
    padding: 200px 0px 200px 0px;
    overflow: hidden;
    color: #fff;
}
.Left_hf_sky_blue_card::after{
    content: '';
    position: absolute;
    background-image: url('../images/bg/polygon.svg');
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position:  100px 0px;
    top: -120px;
    right: -50px;
    width: 1000px;
    height: 1000px;
    z-index: +1;
}
.Left_hf_sky_blue_card::before{
    content: '';
    position: absolute;
    background-color: $deep_sky_color;
    background-repeat: no-repeat;
    background-position:  100px 0px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 50%;
    height: 350px;
    z-index: +9;
}

.some_empty_space_text{
    background-color: $deep_sky_color;
    color: #ffffff;
    max-width: 450px;
}
.some_empty_space_text h3{
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}
.some_empty_space_text p{
    line-height: 1.7;
    display: block;
}

.some_empty_space_text .btn.btn_milky{
    background: $milky_color;
    width: 150px;
    color: $shamrock_color;
    border-color: $milky_color;
}
.some_empty_space_text .btn.btn_success{
    background: $shamrock_color;
    width: 150px;
    color: $milky_color;
    border-color: $milky_color;
}
.some_empty_space_text .btn{
    border-radius: 25px;
    margin-right: 20px;
}
.some_empty_space_polygon_img img{
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    display: block;
}






// Our Space Types style here
.our_space_types{
    padding-top: 50px;
    padding-bottom: 50px;
}
.our_space_types_card{
    margin-bottom: 30px;
}
.our_space_types_card button{
    background-color: $shamrock_color;
    border: 4px solid $shamrock_color;
    color: #ffffff;
    padding: 2px 20px;
    min-width: 120px;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    border-radius: 0px;
}

.our_space_types_card button:hover{
    background-color: $milky_color;
    color: $shamrock_color;
}

.our_space_types_card button::after{
    content: '';
    position: absolute;
    height: 30px;
    width: 5px;
    background: $shamrock_color;
    left: 10px;
    bottom: -25px;
    z-index: -1;
}


// Why stash.guru? style here
.why_stash_guru{
    background-color: $shamrock_color;
    padding-top: 70px;
    padding-bottom: 70px;
}
.stash_guru_card_a{
    background: $milky_color;
    padding: 20px;
    border-radius: 5px;
    min-height: 210px;
    margin-top: 30px;
    text-align: center;
}
.stash_guru_card_a img{
    max-height: 60px;
    width: auto;
}
.stash_guru_card_a h5{
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0px;
    color: $zambezi_color;
}
.stash_guru_card_a p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: $zambezi_color;
}
.stash_guru_card_a p br{
    display: none;
}
@media (min-width: 1199px){
    .stash_guru_card_a p br{
        display: block;
    }
    
}


// Featured Storages Cities style here
.featured_storages_cities{
    background-image: url('../images//bg/featured_storages_cities_bg.png');
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}
.featured_storages_cities .btn{
    border-radius: 30px;
    margin: 10px;
    min-width: 130px;
    background-color: $milky_color;
    color: $zambezi_color;
    font-size: 17px;
}
.featured_storages_cities .btn:hover{
    background-color: $shamrock_color;
    color: $milky_color;
}
    



// Connecting people slider style here

.connecting_people_slider{
    background-color: $alice_blue_color;
    background-image: url('../images/bg/connecting_people_slider.svg');
    background-size: contain;
    padding-top: 70px;
    padding-bottom: 150px;
}
.stash_guru_user_slider{
    padding-top: 70px;
    padding-bottom: 150px;
}
.stash_guru_user_slider .carousel-indicators{
    bottom: -50px;
}
.stash_guru_user_slider .carousel-indicators li{
    background-color: $milky_color;
    height: 12px;
    width: 12px;
    border-radius: 10px !important;
    border: 1px solid $shamrock_color;
    opacity: 1;
}
.stash_guru_user_slider .carousel-indicators li.active{
    background-color: $shamrock_color;
    width: 12px;
}
.stash_guru_user_slider .carousel-item{
    text-align: center;
}

.stash_guru_user_slider .carousel-item img{
    width: 150px !important;
    height: 150px !important;
    // border: 2px solid $shamrock_color;
    border-radius: 50%;
    margin: 10px auto;
}

.stash_guru_user_slider .carousel-item h3{
    color: $shamrock_color;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
}
.stash_guru_user_slider .carousel-item b{
    color: $zambezi_color;
    font-size: 15px;
}
.stash_guru_user_slider .carousel-item p{
    color: $zambezi_color;
    font-size: 12px;
    margin-top: 20px;
}













// We're here to help you at every step along the way style here

.right_hf_sky_blue_card{
    background-color: $milky_color;
    position: relative;
    padding: 200px 0px 200px 0px;
    overflow: hidden;
}
.right_hf_sky_blue_card::after{
    content: '';
    position: absolute;
    background-image: url('../images/bg/polygon.svg');
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    background-position:  100px 0px;
    top: -120px;
    left: -200px;
    width: 1000px;
    height: 1000px;
}
.right_hf_sky_blue_card::before{
    content: '';
    position: absolute;
    background-color: $deep_sky_color;
    background-repeat: no-repeat;
    background-position:  100px 0px;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 50%;
    height: 350px;
}

.here_to_help_you{
    background-color: $deep_sky_color;
    color: #ffffff;
    max-width: 650px;
    padding-left: 30px;
    position: relative;
    z-index: +99;
}
.here_to_help_you h3{
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}
.here_to_help_you p{
    line-height: 1.7;
    display: block;
}


.input-group > .input-group-append > .btn, 
.input-group > .input-group-append > .input-group-text, 
.input-group > .input-group-prepend:first-child > .btn:not(:first-child), 
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), 
.input-group > .input-group-prepend:not(:first-child) > .btn, 
.input-group > .input-group-prepend:not(:first-child) > .input-group-text
.here_to_help_you .btn{
    padding: 0px 10px;
    box-shadow: none !important;
    outline: none !important;
}
.here_to_help_you_polygon_img img{
    max-width: 450px;
    width: 100%;
    margin-right: auto;
    display: block;
}
.here_to_help_you a.nav-link{
    color: $milky_color;
    padding: 5px 0px;
}

.here_to_help_you .input-group-text{
    background-color: $milky_color;
    color: $deep_sky_color;
}



.here_to_help_you .location_search_bar .input-group-prepend,
.here_to_help_you .location_search_bar .input-group-text,
.here_to_help_you .location_search_bar .form-control,
.here_to_help_you .location_search_bar.input-group > .input-group-append > .btn{
    border: 0px;
    box-shadow: none !important;
    outline: none !important;
}



.here_to_help_you .btn-outline-light{
    background: $milky_color;
    border-radius: 30px;
    color:$shamrock_color;
    padding: 0px 20px;
    height: 45px;
}

// .here_to_help_you .btn-outline-light i.fa{
//     transform: scaleX(1) skew(-22deg, -11deg);
//     padding-right: 10px;
// }


// .here_to_help_you .btn-outline-light:hover{
//     background: $shamrock_color;
//     color: $milky_color;
//     border-color:$shamrock_color;
// }















@media (max-width: 1024px){
    .connecting_people,
    .right_hf_sky_blue_card{
        padding: 50px 0px 50px 0px;
    }
    .Left_hf_sky_blue_card::before,
    .Left_hf_sky_blue_card::after,
    .right_hf_sky_blue_card::after,
    .right_hf_sky_blue_card::before{
        display: none;
    }
    .some_empty_space_text,
    .here_to_help_you{
        padding: 30px;
    }
}

@media (max-width: 768px){
    .home_banner,
    .page_banner{
        padding-top: 50px;
    }
    .home_banner_content h2,
    .page_banner_content h2{
        font-size: 25px;
    }
    .home_banner_content p,
    .page_banner_content p{
        font-size: 15px;
    }
    .stash_guru_user_slider .carousel-item h3,
    .some_empty_space_text h3,
    .here_to_help_you h3{
        font-size: 20px;
    }
}






.details_content label{
    font-size: 15px;
}
.details_content b{
    font-size: 15px;
}
.sm2_hdng{
    font-size: 20px;
    font-weight: 700;
}




.details_content .form-control{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}






.about_stash{
    background-color: #1BBDF6;
    position: relative;
    overflow: hidden;
}

// .about_stash::after{
//     content: '';
//     position: absolute;
//     background-image: url('../images/bg/polygon.svg');
//     background-size: 900px 900px;
//     background-repeat: no-repeat;
//     background-position:  100px 0px;
//     top: -120px;
//     right: -50px;
//     width: 1000px;
//     height: 1000px;
//     z-index: +1;
// }
.about_stash_content p{
    font-size: 15px;
    opacity: 0.8;
}








.hf_bg_list_your_space{
    background-image: linear-gradient(to right, $milky_color 50%, $shamrock_color 50%);
    padding: 50px 0px;
}
@media (max-width: 767px){
    .hf_bg_list_your_space{
        background-image: linear-gradient(to bottom, $milky_color 50%, $shamrock_color 50%);
        padding: 0px 0px;
    }
}
.clr_bg_stash_form_card{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px 20px;
}
.t_card_list_section{
    padding: 30px 0px;
}
.t_card_list{
    display: flex;
    align-items: center;
}
.t_card_list span{
    background-color: rgba(50, 215, 138,0.2);
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin-right: 20px;
}
.t_card_list span img{
   max-width: 40px;
}
.t_card_list h5{
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 700;
}
.t_card_list p{
    font-size: 13px;
    margin: 0;
}


.what_need_card{
    background-color: $milky_color;
    margin-top: 30px;
    box-shadow: 0px 4px 40px #0000001A;
}
.what_need_card_header{
    text-align: center;
    padding: 20px;
    border: 1px solid #34d78924;
}
.what_need_card_header img.lg_img{
    max-height: 100px;
}

.what_need_card_header img.sm_img{
    max-height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.what_need_card_footer{
    padding: 20px;
}
.what_need_card_footer h5{
    font-size: 20px;
    font-weight: 700;
    color: $zambezi_color;
}
.what_need_card_footer p{
    font-size: 15px;
    color: $zambezi_color;
}

.videos_play{
    position: relative;
}
.videos_play .video_icon{
    width: 100px;
    height: 100px;
    line-height: 115px;
    padding-left: 10px;
    text-align: center;
    display: block;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.videos_play .video_icon i.fa.fa-play{
    font-size: 40px;
    color: $shamrock_color;
}





























.page_banner_content h2{
    font-weight: 900;
    font-size: 40px;
}
.page_banner_content p{
    font-size: 20px;
    color: $zambezi_color;
}
.page_banner{
    padding-top: 100px;
    background-color: #ffffff;
}
.page_banner.about_page_banner .page_banner_img{
    background-image: url('../images/img/about_banner_img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 230px;
}

.page_content .page_h4_txt{
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}
.hello_sections {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #34D789;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}
.hello_sections::after
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1000px;
    height: 1000px;
    background-image: url('../images/bg/polygon.svg');
    background-size: contain;
    background-repeat: repeat;   
    background-position: right -100px top -100px;
    background-size: 1000px 1000px;
}
.hello_sections p{
    font-weight: 200;
}
.hello_sections table.table{
    color: #ffffff;
}
.count_about_sections{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #ffffff;
    color: #333333;
}
.counter_card{
    text-align: center;
}
.counter_card_icon{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #34D789;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    text-align: center;
}
.counter_card_icon img{
    width: 40px;
}
.counter_card h3{
    font-size: 30px;
    font-weight: 900;
}
.counter_card h5{
    font-size: 17px;
    font-weight: 400;
}
.counter_card p{
    font-size: 15px;
    font-weight: 400;
}
.counter_card b{
    color: #34D789;
}


.bottom_search_strip{
    background: #E8FAF1;
    // min-height: 150px;
    padding: 50px 0px;
}
.bottom_search_strip .location_search_bar .location-search-input{
    border-color: #ffffff;
}
.bottom_search_strip .bx_shd_crd{
    box-shadow: 0px 12px 18px #34D78929;
    border-radius: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bottom_search_strip .bx_shd_crd a{
    text-decoration: none;
}



.bottom_search_strip button.btn{
    font-weight: bold;
}
.bottom_search_strip input {
    color: #34D789;
    font-weight: bold;
}
.bottom_search_strip ::-webkit-input-placeholder {
    color: #34D789;
    font-weight: bold;
}
  
.bottom_search_strip :-ms-input-placeholder {
    color: #34D789;
    font-weight: bold;
  }
  
.bottom_search_strip ::placeholder {
    color: #34D789;
    font-weight: bold;
}



.bottom_search_strip .location_search_bar::after{
    color: #34D789;
}

h5.text5{
    font-size: 20px;
    font-weight: 700;
}
p.text_p{
    font-size: 15px;
}
.hosting_video_bg{
    margin-top:  50px;
    background-size: contain;
    position: relative;
}
.hosting_video_bg::after{
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #34D789;
    opacity: 0.76;
}
.become_host_how_work h5.text5{
    color: #32D78A;
}








.help_center_banner_btns .btn{
    line-height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    background: #ffffff;
    color: #34D789;
    border-color: #34D789;
}
.help_center_banner_btns .btn-primary:not(:disabled):not(.disabled).active, 
.help_center_banner_btns .btn-primary:not(:disabled):not(.disabled):active, 
.help_center_banner_btns .show>.btn-primary.dropdown-toggle{
    background: #34D789;
    color: #ffffff;
    border-color: #34D789;
}
.help_center_box_card{
    box-shadow: 0px 2px 10px #0000001A;
    margin-bottom: 30px;
    min-height: 395px;
    border-radius: 10px;
    overflow: hidden;
}
.help_center_box_card_img{
    background-color: #F5F9FE;
}
.help_center_box_card_body{
    background-color: #ffffff;
    padding: 10px 20px;
}
.help_center_box_card_body h5.text5{
    color: #595959;
    margin: 20px auto;
}
.help_center_box_card_body ul{
    margin-left: -20px;
    color: #34D789;
    font-weight: 700;
}
.help_center_box_card_body ul li{
    margin: 7px auto;
}