@import '../../../App.scss';



img.user_img_avtar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #bbbbbb;
}
.user_hdng_2nd{
    font-size: 25px;
    font-weight: 700;
}
.dash_hm_card_a{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 40px #0000001A;
    border-radius: 18px;
    position: relative;
    margin-top: 40px;
    border: 0px;
}
.dash_hm_card_a_cntr{
    display: block;
    width: 130px;
    margin: 0 auto;
    padding-left: 20px;
    color: $zambezi_color;
}
.dash_hm_card_a_cntr p{
    font-size: 15px;
    margin: 0px;
    font-weight: 500;
}
.dash_hm_card_a_cntr h4{
    margin-top: 5px;
    font-size: 30px;
}
.dash_hm_card_a_cntr small{
    display: block;
    font-size: 10px;
    margin-top: 5px;
}
.dash_hm_card_a_cntr b{
    display: block;
    font-weight: 900;
}
.icn_crd_img{
    position: absolute;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    display: block;
    left: -20px;
    top: -30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 12px 18px 19px #34D7894D;
}
.icn_crd_img img{
    max-width: 40px;
    width: 100%;
}
.dash_hm_card_a:hover{
    cursor: pointer;
}
.dash_hm_card_a:hover .icn_crd_img{
    box-shadow: 12px 18px 19px #1BBDF633;
}


.dash_hm_card_a .icn_crd_img img.img_active,
.dash_hm_card_a:hover .icn_crd_img img.img_deactive{
    display: inline-block;
}
.dash_hm_card_a .icn_crd_img img.img_deactive,
.dash_hm_card_a:hover .icn_crd_img img.img_active{
    display: none;
}


.dash_hm_card_b{
    padding: 15px;
    min-height: 250px;
    margin-top: 30px;
    border-radius: 18px;
    background: transparent linear-gradient(236deg, $pacific_blue_color 0%, $deep_sky_color 100%) 0% 0% no-repeat padding-box;
}
.dash_hm_card_b_bg_img{
    position: absolute;
    // height: 130px;
    width: auto;
    right: 10px;
    bottom: 0px;
}
.dash_hm_card_b_bg_img img{
    max-height: 130px;
    max-width: 200px;
}
.dash_hm_card_b .card-body h4{
    color: #FFFFFF;
    font-size: 30px;
}
.dash_hm_card_b .card-body p{
    color: #FFFFFF;
    font-size: 15px;
}
.dash_hm_card_b .btn_milky_bl,
.dash_hm_card_b .btn_milky_grn{
   min-width: 150px;
}

.user_page_hdng{
    display: flex;
}
.user_page_hdng_left{
    display: inline-block;
}

h2.user_page_hdng_txt {
    color: $zambezi_color;
    font-weight: 800;
    font-size: 45px;
}


select.form-control{
    padding-left: 20px;
}
.warning_strip{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF784F;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
}
.warning_strip p{
    color: #FFFFFF;
}
.warning_strip .btn{
    background-color: transparent !important;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.breadcrumb{
    background-color: transparent;
    margin-bottom: 0px;
    padding-left: 0px;
}
.breadcrumb-item {
    color: $zambezi_color;
    display: inline-flex;
    align-items: center;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    text-decoration: none !important;
}
.breadcrumb-item:hover{
    color: $zambezi_color;
}
.breadcrumb-item.active {
    color: $shamrock_color;
}
.breadcrumb-item img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.bg_bld_txt{
    font-weight: 900;
    font-size: 45px;
}
.md_bld_txt{
    font-weight: 900;
    font-size: 27px;
}


table.table.no_bdr,
table.table.no_bdr tr,
table.table.no_bdr tr th,
table.table.no_bdr tr td{
    border: 0px;
    vertical-align: middle;
    padding: 5px 10px;
}
table.table.no_bdr tr th{
    font-weight: 300;
}
table.table.no_bdr tr td{
    font-weight: 500;
}




table.table-sm.no_bdr,
table.table-sm.no_bdr tr,
table.table-sm.no_bdr tr th,
table.table.no_bdr tr td{
    border: 0px;
    vertical-align: middle;
    padding: 0px;
}
table.table-sm.no_bdr tr th{
    font-size: 12px;
    font-weight: 300;
}
table.table-sm.no_bdr tr td{
    font-size: 14px;
    font-weight: 500;
}
table.table-sm.no_bdr tr td strong{
    font-size: 20px;
    font-weight: 900;
    color: #34D789;;
}


.box_Card,
.sg_box_flex_card,
.verificationCard,
.sg_box_flex_card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #0000001A;
    border-radius: 11px;
    padding: 15px;
    margin: 15px auto;
}
.sg_box_flex_card{
    display: flex;
    flex-wrap: wrap;
}
.verificationCardBody{
    max-width: 500px;
    display: block;
    margin: 20px auto;
}
.verificationCardBody h3,
.text_hdng_h3,
.sg_box_flex_card h3{
    font-size: 30px;
    font-weight: 700;
    color: #595959;
}
.verificationCardBody p{
    font-size: 15px;
}
.verificationCardBody img{
    max-width: 70px;
}

.sg_box_flex_card button{
    min-width: 150px;
}
.about_user_profile{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}
.change_user_profile_img{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    position: relative;
    height: 200px;
    width: 180px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #5c5c5c38;
}
.change_user_profile_img img{
    position: absolute;
    width: 180px;
    height: 200px;
}
.change_user_icon_camera{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px;
    background: linear-gradient(to left, rgba(52 ,215 ,137 , 0.7) 0%, rgba(27, 189, 246 ,0.7));
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}
.change_user_icon_camera_btn{
    background-color: transparent !important;
    outline: none !important;
    border: 0px !important;
    color: #ffffff;
    font-size: 25px;
}
.change_user_icon_file{
    position: relative;
}
.change_user_icon_file::before{
    content: "\f030";
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer !important;
    white-space: nowrap;
    -webkit-user-select: none;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer !important;
    white-space: nowrap;
    -webkit-user-select: none;
    height: 100%;
    width: 100%;
}













.verify_user_email_mob{
    width: calc(100% - 180px);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.verify_user_email_mob_content{
    width: 100%;
    height: 200px;
    padding-left: 15px;
    border-radius: 10px;
    background: linear-gradient(to left, rgba(52 ,215 ,137 , 0.7) 0%, rgba(27, 189, 246 , 0.7));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.verify_user_email_mob_flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #FFFFFF;

}
.verify_user_email_mob_icn{
    width: 40px;
}
.verify_user_email_mob_icn i{
    font-size: 30px;
}
.verify_user_email_mob_flex h4{
    font-size: 17px;
}
button.P_verify_btn{
    width: 100px;
    padding: 3px;
    min-height: 30px !important;
    background: #FFFFFF;
    color: #FF784F;
    border-color: #FFFFFF;
    margin-left: 10px;
}
button.P_verify_btn:hover{
    background: #FF784F;
    color: #ffffff;
    border-color: #FF784F;
}
.profile_r_card .profile_l_body{
    width: calc(100% - 60px);
}
.profile_r_card .profile_r_body{
    width: 60px;
    padding-left: 10px;
}
.profile_r_card .profile_r_body img{
    max-width: 50px;
}
.p_check .custom-control-label::before{
    width: 20px;
    height: 20px;
}
.p_check .custom-control-input:checked~.custom-control-label::before{
    background-color: #FFFFFF;
    border-color: #707070;
}
.p_check .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    width: 25px;
    background-image: none;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #34D789;
    top: 5px;
    left: -22px;
}





.fade.modal-backdrop.show{
    background: #1A9A76;
}
.user_modal .modal-header {
    border-bottom: 0px solid #dee2e6;
}
.user_modal .modal-header .modal-title {
    font-size: 18px;
}
.user_modal .modal-footer{
    border-top: 0px solid #dee2e6;
}

.user_modal .user_modal_close_btn{
    position: fixed;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    top: 10px;
    right: 30px;
    background: transparent;
    border: 0px;
    outline: 0px;
    font-size: 30px;
    z-index: -1;
    display: block;
}

@media (max-width: 767px){
    .user_modal .user_modal_close_btn{
        position: absolute;
        z-index: +1;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }
    
}

.photoTips_row .col .photoTips_img_card{
    height: 55px;
    width: 90px;
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.photoTips_row .col{
    padding-bottom: 50px;
    position: relative;
}
.photoTips_row .col::after,
.photoTips_row .col:nth-child(4)::after{
    position: absolute;
    content: "\f00d";
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #34D789;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #FF784F;
    background-color: #FF784F;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;

}

.photoTips_row .col:nth-child(4)::after{
    content: "\f00c";
    border: 1px solid #34D789;
    background-color: #34D789;
}
.photoTips_row .col:nth-child(1) .photoTips_img_card{
    border: 2px solid #FF784F;
    padding: 2px;
}
.photoTips_row .col:nth-child(1) .photoTips_img_card img{
    transform: rotate(10deg);
}
.photoTips_row .col:nth-child(2) .photoTips_img_card{
    border: 2px solid #FF784F;
}
.photoTips_row .col:nth-child(2) .photoTips_img_card img{
    transform: rotate(-10deg);
}
.photoTips_row .col:nth-child(3) .photoTips_img_card{
    border: 2px solid #FF784F;
}

.photoTips_row .col:nth-child(3) .photoTips_img_card img{
    filter: blur(1px);
    -webkit-filter: blur(1px);

}
.photoTips_row .col:nth-child(4) .photoTips_img_card{
    border: 2px solid #34D789;
}


.dropzone_section{
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 39px #34D7893B;
}
.dropzone {
    text-align: center;
    border: 1px dashed $shamrock_color;
    border-radius: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

.dropzone.upload_verify_id{
    min-height: 200px;
    // min-height: auto;
    overflow: hidden;
    position: relative;
}
.dropzone.upload_verify_id .upload_img_icon{
    max-width: 50px;
    margin: 10px auto;
}
.dropzone *{
    outline: 0px;
}
.dropzone p{
    margin: 0;
}
.dropzone span{
    margin: 0;
    font-weight: 700;
    cursor: pointer;
}
.uploaded_images{
    width: 100%;
    align-items: center;
    justify-self: start;
}
.uploaded_images img{
    max-width: 80px;
    width: 100%;
    margin: 20px 3px;
}

.uploaded_id_card{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.uploaded_id_card img{
    position: relative;
    display: block;
}
.uploaded_id_card .uploaded_Img::after{
    content: "\f093";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 40px;
    height: 40px;
    position: absolute;
    background: #34d789;
    color: #fff;
    display: block;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.Payment_Payout .no_any_invoice_card .box_CardBody,
.Payment_Payout .AddCardPaymentBox .box_CardBody,
.Payment_Payout .AddBankDetailsBox .box_CardBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Payment_Payout .no_any_invoice_card .box_CardBody{
    min-height: 555px;
    padding: 15px;
}
.Payment_Payout .no_any_invoice_card{
    padding: 0px;
}
.Payment_Payout .paymentPayoutList_CardHeader,
.Payment_Payout .paymentPayout_CardHeader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}
.Payment_Payout .AddCardPaymentBox .box_CardBody{
    min-height: 300px;
}
// .Payment_Payout .AddBankDetailsBox .box_CardBody{
//     min-height: 200px;
// }








.Payment_Payout .paymentPayoutList_card .box_CardBody{
    height: 575px;
    overflow: auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.Payment_Payout .AddCardPaymentListBox .box_CardBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.Payment_Payout .AddCardPaymentListBox .box_CardBody img{
    border-radius: 10px;
}
.Payment_Payout .paymentPayoutList_card{
    padding: 0px;
}

.paymentPayoutList_card table.table.table-sm.no_bdr,
.paymentPayoutList_card table.table.table-sm.no_bdr tr,
.paymentPayoutList_card table.table.table-sm.no_bdr tr th,
.paymentPayoutList_card table.table.table-sm.no_bdr tr td{
    border: 0px;
    vertical-align: middle;
    padding: 0px;
}
.paymentPayoutList_card table.table.table-sm.no_bdr tr th,
.paymentPayoutList_card table.table.table-sm.no_bdr tr td{
    font-size: 12px;
    padding: 5px 5px 6px 15px;
}

.paymentPayoutList_card table.table.table-sm.no_bdr tr th{
    font-weight: 700;
    background-color: #E8FAF1;
}
.paymentPayoutList_card table.table.table-sm.no_bdr tr td{
    font-weight: 400;
}

.paymentPayoutList_card table.table.table-sm.no_bdr tr td strong{
    font-size: 15px;
    font-weight: 900;
    color: #34D789;;
}










.Referrals .ShareLinkAndEarnCard .box_CardBody,
.Referrals .EarningsBox .box_CardBody,
.Referrals .YourReferralsBox .box_CardBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Referrals .ShareLinkAndEarnCard .box_CardBody{
    min-height: 530px;
}
.Referrals .EarningsBox .box_CardBody{
    min-height: 250px;
}
.Referrals .YourReferralsBox .box_CardBody{
    min-height: 200px;
}

.Referrals .EarningsBox{
    background: transparent linear-gradient(229deg, #34D789 0%, #1BBDF6 100%) 0% 0% no-repeat padding-box;
}

.Referrals .PendingEarningsBox,
.Referrals .EarningsBox .EarningsBox_header{
    color: #ffffff;
}

.Referrals .EarningsBox .EarningsBox_header h6{
    color: #ffffff;
    margin: 0px;
}
.Referrals .EarningsBox .EarningsBox_header h2{
    color: #ffffff;
    margin-top: 20px;
    font-weight: 900;
}
.Referrals .EarningsBox .EarningsBox_header small,
.Referrals .PendingEarningsBox small{
    font-weight: 100;
}
.Referrals .PendingEarningsBox{
    background: transparent linear-gradient(229deg, #1BBDF6 0%, #34D789 100%) 0% 0% no-repeat padding-box;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #0000001A;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    text-align: center;
}

.Referrals .PendingEarningsBox h6{
    margin: 0px;
}
.Referrals .PendingEarningsBox h4{
    color: #ffffff;
    margin: 5px;
    font-weight: 900;
}




.Referrals .ShareLinkAndEarnCard .box_CardBody .referals_img{
    position: relative;
}
.Referrals .ShareLinkAndEarnCard .box_CardBody h6{
    margin: 0;
}
.Referrals .ShareLinkAndEarnCard .box_CardBody h2{
    font-size: 35px;
    font-weight: 800;
    color: $shamrock_color;
    margin: 0;
}
.Referrals .ShareLinkAndEarnCard .box_CardBody h5{
    margin: 0;
    font-size: 17px;
    font-weight: 700;
}
.Referrals .ShareLinkAndEarnCard .box_CardBody .referals_img img{
    width: 250px;
    position: relative;
}
.Referrals .ShareLinkAndEarnCard .box_CardBody .referals_img strong{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 56px;
    width: 55px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}
.Referrals .ShareLinkAndEarnCard .box_CardBody .referals_img span{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 115px;
    width: 100px;
    font-size: 8px;
    font-weight: 500;
    line-height: 11px;
}
.copy_your_share_link{
    max-width: 500px;
    display: block;
    margin: 20px auto;
}
.copy_your_share_link .input-group{
    border-radius: 25px;
    box-shadow: 0px 5px 15px #34D78970;
}
.copy_your_share_link .form-control{
    border: 0px;
    color: $shamrock_color;
}
.copy_your_share_link .form-control:disabled, 
.copy_your_share_link .form-control[readonly] {
    background-color: #ffffff;
}

.copy_your_share_link .btn.btn_success{
    border-radius: 25px;
    font-size: 15px;
    min-width: 120px;
}
.share_to_social_media .nav-item .nav-link{
    padding: 10px;
}
.share_to_social_media .nav-item .nav-link img{
    width: 20px;
    height: 20px;
}





.Payment_Payout .no_any_invoice_card .box_CardBody img{
    max-width: 150px;
}
.Payment_Payout .AddCardPaymentBox .box_CardBody img{
    max-width: 100px;
}
.Payment_Payout .AddBankDetailsBox .box_CardBody img{
    max-width: 70px;
}


.how_it_work_share_link_card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #0000001A;
    border-radius: 11px;
    padding: 25px;
    margin: 15px auto;
}
.how_it_work_share_link_card_body{
    text-align: center;
    width: 200px;
    display: block;
    margin: 20px auto;
}
.how_it_work_share_link_card_body .how_it_work_shares_img{
    height: 100px;
    width: 100px;
    text-align: center;
    display: block;
    margin: 20px auto 0px;
}




.guest-list-item,
.guest-list-item-selected{
    border: 1px solid;
    padding: 10px;
    border-color: #4fd78a;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    margin: 10px auto;
}
.guest-list-item:hover,
.guest-list-item-selected{
    color: #ffffff;
    background-color: #4fd78a;
}

.guest-list-item .guest_list_icons{
    width: 60px;
}
.guest-list-item .guest_list_content{
    width: calc(100% - 60px);
}
.guest-list-item .guest_list_content h5,
.guest-list-item-selected .guest_list_content h5{
    font-size: 17px;
    color: #4fd78a;
}
.guest-list-item:hover .guest_list_content h5,
.guest-list-item-selected .guest_list_content h5{
    color: #ffffff;
    font-size: 17px;
}
.guest-list-item .guest_list_content small,
.guest-list-item-selected .guest_list_content small{
    font-size: 14px;
}



.guest-list-item .guest_list_w_img{
    display: none;
}
.guest-list-item .guest_list_g_img{
    display: block;
}
.guest-list-item:hover .guest_list_w_img,
.guest-list-item-selected .guest_list_w_img{
    display: block;
}
.guest-list-item:hover .guest_list_g_img,
.guest-list-item-selected .guest_list_g_img{
    display: none;
}

.guest-list-item img,
.guest-list-item-selected img{
    margin-right: 10px;
    width: 50px;
    height: 50px;
}


.gm-style-iw.gm-style-iw-c{
    padding: 0px !important;
}

.gm-style-iw.gm-style-iw-c .gm-style-iw-d{
    width: 200px !important;
    overflow: hidden !important;
}
.gm-style-iw.gm-style-iw-c .gm-style-iw-d img{
    width: 100% !important;
    max-height: 100px !important;
}
.gm_style_iw_body{
    padding: 5px;
}
.gm_style_iw_body h5{
    font-size: 15px;
    display: block;
    text-align: center;
}
.gm_style_iw_body strong{
    color:#34d789;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    display: block;
}
.gm_style_iw_body small{
    color:#34d789;
    font-weight: 500;
    font-size: 10px;
    color: #595959;
}
.gm-style-iw.gm-style-iw-c .gm-ui-hover-effect{
    position: relative;
    top: 0px !important;
    right: 0px !important;
    opacity: 1;
}
.gm-style-iw.gm-style-iw-c .gm-ui-hover-effect img{
    display: none !important;
}
.gm-style-iw.gm-style-iw-c .gm-ui-hover-effect::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "\f05c" !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34D789;
    top: 5px;
    right: 0px;
}
.listing_bg{
    background: linear-gradient(to right, 
    rgba(52, 215, 137, 0.9), 
    rgba(52, 215, 137, 0.02)), 
    url(/static/media/listing_bg.296ad2e0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding: 50px 30px;
    margin-top: 15px;
    border-radius: 5px;
}

