.user_pages_content_body_wrapper{
    
}
.PageSideMenu{
    width: 170px;
}
.PageSideMenuBody{
    width: calc(100% - 170px);
    padding: 20px 0px 20px 30px;
}

@media (max-width: 1024px){
    .sm_user_side_menu_hide{
        display: none;
    }
    .PageSideMenuBody{
        width: 100%;
    }
}

