
// sass color code here
$milky_color: #ffffff;
$whisper_color: #eaeaea;
$white_smoke_color: #F8F8F8;
$alice_blue_color: #e4faef;
$shamrock_color: #34D789;
$deep_sky_color: #1BBDF6;
$pacific_blue_color: #11A4D8;
$tomato_color: #FF5757;
$black_color: #000000;
$zambezi_color: #595959;
$dark_gray_color: #aaaaaa;
$nobel_color: #9c9c9c;


.text_color_deep_skyi{
    color: $deep_sky_color;
}
.text_color_zambezi{
    color: $zambezi_color;
}
.text_color_gray{
    color: $dark_gray_color;
}
.text_color_shamrock{
    color: $shamrock_color;
}
.btn.btn-success{
    background-color: $shamrock_color;
    border-color: $shamrock_color;
}
.text_color_l_orange{
    color: #FF784F; 
}





.btn{
    border-radius: 25px;
    min-height: 48px;
}
img{
    max-width: 100%;
}

.btn.btn_milky{
    background: $milky_color;
    color: $shamrock_color;
    border-color: $milky_color;
}

.btn.btn_milky.focus, 
.btn.btn_milky:focus,
.btn_milky:focus-within,
.btn_milky:not(:disabled):not(.disabled):active,
.btn.btn_milky:hover{
    background: $milky_color ;
    color: $shamrock_color;
    border-color: $milky_color;
}
.btn.btn_success{
    background: $shamrock_color;
    color: $milky_color;
    border-color: $shamrock_color;
}
.btn_success.focus, 
.btn_success:focus,
.btn_success:focus-within,
.btn_success:not(:disabled):not(.disabled):active,
.btn_success:hover{
    border-color: $shamrock_color;
    color: $shamrock_color;
    background-color: transparent;
}

.btn_trans{
    background: transparent;
    color: $milky_color;
    border-color: $milky_color;
}

.btn_trans.focus, 
.btn_trans:focus,
.btn_trans:focus-within,
.btn_trans:not(:disabled):not(.disabled):active,
.btn_trans:hover{
    background: $milky_color;;
    color: $zambezi_color;
    border-color: $milky_color;
}
.btn-outline-info{
    border-color: $deep_sky_color;
    color: $deep_sky_color;
    background: transparent;
}

.btn-outline-info.focus, 
.btn-outline-info:focus,
.btn-outline-info:focus-within,
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:hover{
    border-color: $deep_sky_color;
    color: $milky_color;
    background: $deep_sky_color;;
}

.btn-outline-success{
    border-color: $shamrock_color;
    color: $shamrock_color;
    background: transparent;
}

.btn-outline-success.focus, 
.btn-outline-success:focus,
.btn-outline-success:focus-within,
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:hover{
    border-color: $shamrock_color;
    color: $milky_color;
    background: $shamrock_color;;
}

.btn,
.btn:focus{
     box-shadow: none !important;
    //  height: 40px;
    //  padding-left: 20px;
    //  padding-right: 20px;
}


.show>.btn-primary.dropdown-toggle{
    background-color: $deep_sky_color;
    border-color: $deep_sky_color;
}

.bg_milky{
    background: $milky_color;
}
.white_smoke_color{
    background: $white_smoke_color;
}
.btn_milky_bl{
    color: $deep_sky_color;
    border-color: $deep_sky_color;
    background: $milky_color;
}

.btn_milky_bl.focus,
.btn_milky_bl:focus,
.btn_milky_bl:active,
.btn_milky_bl:focus-within,
.btn_milky_bl:not(:disabled):not(.disabled):active,
.btn_milky_bl:hover{
    color: $milky_color;
    border-color: $milky_color;
    background: $deep_sky_color;
}

.btn_outline_info{
    border-color: $deep_sky_color;
    color: $deep_sky_color;
    background: transparent;
}

.btn_outline_info.focus, 
.btn_outline_info:focus,
.btn_outline_info:focus-within,
.btn_outline_info:not(:disabled):not(.disabled):active,
.btn_outline_info:hover{
    border-color: $deep_sky_color;
    color: $milky_color;
    background: $deep_sky_color;;
}


.btn_milky_grn{
    color: $shamrock_color;
    border-color: $shamrock_color;
    background: $milky_color;
}
.btn_milky_grn.focus,
.btn_milky_grn:focus,
.btn_milky_grn:active,
.btn_milky_grn:focus-within,
.btn_milky_grn:not(:disabled):not(.disabled):active,
.btn_milky_grn:hover{
    color: $milky_color;
    border-color: $milky_color;
    background: $shamrock_color;
}
.btn_outline_success{
    border-color: $shamrock_color;
    color: $shamrock_color;
    background: transparent;
}

.btn_outline_success.focus,
.btn_outline_success:focus,
.btn_outline_success:focus-within,
.btn_outline_success:not(:disabled):not(.disabled):active,
.btn_outline_success:hover{
    border-color: $shamrock_color;
    color: $milky_color;
    background: $shamrock_color;;
}

.btn_l_orange{
    border-color: #FF784F;
    color: #ffffff;
    background: #FF784F;
}
.btn_l_orange.focus,
.btn_l_orange:focus,
.btn_l_orange:focus-within,
.btn_l_orange:not(:disabled):not(.disabled):active,
.btn_l_orange:hover{
    border-color: #FF784F;
    color: #FF784F;
    background: transparent;;
}


.btn.btn-previous{
    border-color: #34D789;
    color: #34D789;
    background: transparent;
    width: 120px;
    position: relative;
    padding-left: 35px;
}
.btn.btn-previous::after{
    content: "\f177";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn.btn-next{
    border-color: #34D789;
    color: #ffffff;
    background: #34D789;
    width: 120px;
    position: relative;
    padding-right: 35px;
}


.btn.btn-upload{
    border-color: #34D789;
    color: #ffffff;
    background: #34D789;
    width: 120px;
    position: relative;
}
.btn.btn-next::after{
    content: "\f178";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn-edit{
    border-color: #ffffff;
    color: #333333;
    background: #ffffff;
    height: 35px !important;
    width: 35px !important;
    line-height: 35px !important;
    padding: 0px;
    display: block;
    text-align: center;
    min-height: auto;
}
.btn-edit.focus,
.btn-edit:focus,
.btn-edit:focus-within,
.btn-edit:not(:disabled):not(.disabled):active,
.btn-edit:hover{
    border-color: rgba(52, 215, 137, 0.5);
    color: #000000;
    background: #ffffff;
}




.btn i.fa.fa-angle-right{
    margin-left: 10px;
}

select.form-control,
input.form-control{
    border-radius: 25px;
    min-height: 48px;
}

.custom_select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url('./assets//front/images/icons/dropdown.png');
    border: 1px solid #ced4da;
    background-size: 12px;
    background-position: 97% 15px;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: inline-block;
    position: relative;
  }
  
  .custom_select select.form-control {
    background: transparent;
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
.section_padding{
    padding: 70px 0px;
}
.w-100{
    width: 100%;
}



select.form-control, input.form-control.rectu_form_field,
select.form-control, input.form-control.rectu_form_field{
    border-radius: 5px;;
}

.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
// sass color code End
