
// sass color code here
$milky_color: #ffffff;
$whisper_color: #eaeaea;
$white_smoke_color: #F8F8F8;
$alice_blue_color: #e4faef;
$shamrock_color: #34D789;
$deep_sky_color: #1BBDF6;
$tomato_color: #FF5757;
$black_color: #000000;
$zambezi_color: #595959;
$dark_gray_color: #aaaaaa;
$nobel_color: #9c9c9c;
// sass color code End
