
// app.scss

// sass color code here
$milky_color: #ffffff;
$whisper_color: #eaeaea;
$white_smoke_color: #F8F8F8;
$alice_blue_color: #e4faef;
$shamrock_color: #34D789;
$deep_sky_color: #1BBDF6;
$pacific_blue_color: #11A4D8;
$tomato_color: #FF5757;
$black_color: #000000;
$zambezi_color: #595959;
$dark_gray_color: #aaaaaa;
$nobel_color: #9c9c9c;


$light_cyan_color: #ccf5e1;



.text_color_light_cyan{
    color: $light_cyan_color;
}
.text_color_deep_skyi{
    color: $deep_sky_color;
}
.text_color_zambezi{
    color: $zambezi_color;
}
.text_color_gray{
    color: $dark_gray_color;
}
.text_color_shamrock{
    color: $shamrock_color;
}
.btn.btn-success{
    background-color: $shamrock_color;
    border-color: $shamrock_color;
}
.text_color_l_orange{
    color: #FF784F; 
}


.btn{
    border-radius: 25px;
    min-height: 38px;
    font-size: 13px;
}
.btn.btn-sm{
    min-height: auto;
}
img{
    max-width: 100%;
}

.btn.btn-milky,
.btn.btn_milky{
    background: $milky_color;
    color: $shamrock_color;
    border-color: $milky_color;
}

.btn.btn_milky.focus,
.btn.btn_milky:focus,
.btn_milky:focus-within,
.btn_milky:not(:disabled):not(.disabled):active,
.btn.btn_milky:hover,

.btn.btn-milky.focus,
.btn.btn-milky:focus,
.btn-milky:focus-within,
.btn-milky:not(:disabled):not(.disabled):active,
.btn.btn-milky:hover{
    background: $milky_color ;
    color: $shamrock_color;
    border-color: $milky_color;
}
.btn.btn_success{
    background: $shamrock_color;
    color: $milky_color;
    border-color: $shamrock_color;
}
.btn_success.focus, 
.btn_success:focus,
.btn_success:focus-within,
.btn_success:not(:disabled):not(.disabled):active,
.btn_success:hover{
    border-color: $shamrock_color;
    color: $shamrock_color;
    background-color: transparent;
}

.btn_trans{
    background: transparent;
    color: $milky_color;
    border-color: $milky_color;
}

.btn_trans.focus, 
.btn_trans:focus,
.btn_trans:focus-within,
.btn_trans:not(:disabled):not(.disabled):active,
.btn_trans:hover{
    background: $milky_color;;
    color: $zambezi_color;
    border-color: $milky_color;
}
.btn-outline-info{
    border-color: $deep_sky_color;
    color: $deep_sky_color;
    background: transparent;
}

.btn-outline-info.focus, 
.btn-outline-info:focus,
.btn-outline-info:focus-within,
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:hover{
    border-color: $deep_sky_color;
    color: $milky_color;
    background: $deep_sky_color;;
}

.btn-outline-success{
    border-color: $shamrock_color;
    color: $shamrock_color;
    background: transparent;
}

.btn-outline-success.focus, 
.btn-outline-success:focus,
.btn-outline-success:focus-within,
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:hover{
    border-color: $shamrock_color;
    color: $milky_color;
    background: $shamrock_color;;
}


.bg_shamrock_color{
    background: $shamrock_color;
}
.bg_milky{
    background: $milky_color;
}
.white_smoke_color{
    background: $white_smoke_color;
}
.btn_milky_bl{
    color: $deep_sky_color;
    border-color: $deep_sky_color;
    background: $milky_color;
}

.btn_milky_bl.focus,
.btn_milky_bl:focus,
.btn_milky_bl:active,
.btn_milky_bl:focus-within,
.btn_milky_bl:not(:disabled):not(.disabled):active,
.btn_milky_bl:hover{
    color: $milky_color;
    border-color: $milky_color;
    background: $deep_sky_color;
}

.btn_outline_info{
    border-color: $deep_sky_color;
    color: $deep_sky_color;
    background: transparent;
}

.btn_outline_info.focus, 
.btn_outline_info:focus,
.btn_outline_info:focus-within,
.btn_outline_info:not(:disabled):not(.disabled):active,
.btn_outline_info:hover{
    border-color: $deep_sky_color;
    color: $milky_color;
    background: $deep_sky_color;;
}




.btn_success_milky_outline{
    border-color: $milky_color;
    color: $milky_color;
    background: $shamrock_color;
}

.btn_success_milky_outline.focus, 
.btn_success_milky_outline:focus,
.btn_success_milky_outline:focus-within,
.btn_success_milky_outline:not(:disabled):not(.disabled):active,
.btn_success_milky_outline:hover{
    border-color: $milky_color;
    color: $shamrock_color;
    background: $milky_color;;
}
.btn_milky_grn{
    color: $shamrock_color;
    border-color: $shamrock_color;
    background: $milky_color;
}
.btn_milky_grn.focus,
.btn_milky_grn:focus,
.btn_milky_grn:active,
.btn_milky_grn:focus-within,
.btn_milky_grn:not(:disabled):not(.disabled):active,
.btn_milky_grn:hover{
    color: $milky_color;
    border-color: $milky_color;
    background: $shamrock_color;
}
.btn_outline_success{
    border-color: $shamrock_color;
    color: $shamrock_color;
    background: transparent;
}

.btn_outline_success.focus,
.btn_outline_success:focus,
.btn_outline_success:focus-within,
.btn_outline_success:not(:disabled):not(.disabled):active,
.btn_outline_success:hover{
    border-color: $shamrock_color;
    color: $milky_color;
    background: $shamrock_color;;
}



.btn_previous{
    border-color: #22bff6;
    color: #22bff6;
    background: transparent;

}

.btn_previous.focus,
.btn_previous:focus,
.btn_previous:focus-within,
.btn_previous:not(:disabled):not(.disabled):active,
.btn_previous:hover{
    border-color: #22bff6;
    color: $milky_color;
    background: #22bff6;
}


.btn_l_orange{
    border-color: #FF784F;
    color: #ffffff;
    background: #FF784F;
}
.btn_l_orange.focus,
.btn_l_orange:focus,
.btn_l_orange:focus-within,
.btn_l_orange:not(:disabled):not(.disabled):active,
.btn_l_orange:hover{
    border-color: #FF784F;
    color: #FF784F;
    background: transparent;;
}

.btn-light_cyan{
    border-color: #ccf5e1;
    color: #34D789;
    background: #ccf5e1;
}
.btn-light_cyan.focus,
.btn-light_cyan:focus,
.btn-light_cyan:focus-within,
.btn-light_cyan:not(:disabled):not(.disabled):active,
.btn-light_cyan:hover{
    border-color: #ccf5e1;
    color: #34D789;
    background: #ccf5e1;;
}



.btn.btn-previous{
    border-color: #34D789;
    color: #34D789;
    background: transparent;
    width: 120px;
    position: relative;
    padding-left: 35px;
}
.btn.btn-previous::after{
    content: "\f177";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn.btn-next{
    border-color: #34D789;
    color: #ffffff;
    background: #34D789;
    min-width: 150px;
    position: relative;
    padding-right: 35px;
}


.btn.btn-upload{
    border-color: #34D789;
    color: #ffffff;
    background: #34D789;
    width: 120px;
    position: relative;
}
.btn.btn-next::after{
    content: "\f178";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn-edit{
    border-color: #ffffff;
    color: #333333;
    background: #ffffff;
    height: 35px !important;
    width: 35px !important;
    line-height: 35px !important;
    padding: 0px;
    display: block;
    text-align: center;
    min-height: auto;
}
.btn-edit.focus,
.btn-edit:focus,
.btn-edit:focus-within,
.btn-edit:not(:disabled):not(.disabled):active,
.btn-edit:hover{
    border-color: rgba(52, 215, 137, 0.5);
    color: #000000;
    background: #ffffff;
}




.btn i.fa.fa-angle-right{
    margin-left: 10px;
}
.btn,
.btn:focus{
    box-shadow: none !important;
    transition: all 300ms;
    transform: scale(1);
    //  height: 40px;
    //  padding-left: 20px;
    //  padding-right: 20px;
}
.btn:hover{
    transform: scale(1.05);
}
.show>.btn-primary.dropdown-toggle{
    background-color: $deep_sky_color;
    border-color: $deep_sky_color;
}


select.form-control,
input.form-control{
    border-radius: 25px;
    min-height: 38px;
}
.form-control.form-control-sm{
    min-height: auto
}

.custom_select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url('./assets//front/images/icons/dropdown.png');
    border: 1px solid #ced4da;
    background-size: 12px;
    background-position: 97% 15px;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: inline-block;
    position: relative;
  }
  
  .custom_select select.form-control {
    background: transparent;
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
.section_padding{
    padding: 70px 0px;
}
.w-100{
    width: 100%;
}

.form-control.rectu_form_field,
select.form-control, input.form-control.rectu_form_field,
select.form-control, input.form-control.rectu_form_field{
    border-radius: 5px;;
}
textarea.form-control{
    border-radius: 10px;;
}
.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
// sass color code End
.paymentForm .form-control{
    padding-top: 11px;
}








// react-date-picker
.react-date-picker__wrapper{
    border-radius: 5px;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 48px;
}
.react-date-picker__wrapper .react-date-picker__button svg {
    display: none;
}
.react-date-picker__wrapper .react-date-picker__calendar-button.react-date-picker__button {
    color: #34D789;
    outline: none;
}
.react-date-picker__wrapper .react-date-picker__clear-button.react-date-picker__button {
    display: none;
}
.react-date-picker__inputGroup input{
    outline: none;
}
.react-date-picker__wrapper .react-date-picker__button.react-date-picker__calendar-button.react-date-picker__button:after {
    content: "\f073";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// react-date-picker end



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ced4da;
  -webkit-text-fill-color: #212529;
  box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}








::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: $shamrock_color; 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: $deep_sky_color; 
}


.rdw-editor-wrapper{
    border-radius: 10px;
}


@media only screen and (max-width: 430px) {
    .chat-us-btn-front {
      margin-top: 10px;
    }
}

.fade.modal-backdrop.show,
.swal2-container.swal2-backdrop-show, 
.swal2-container.swal2-noanimation {
    background: rgba(0, 0, 0, 0.9);
}

.modal-backdrop.show{
    opacity: 1;
}
body .close,
.modal .close,
.modal-content .close{
    position: fixed !important;
    right: 10px !important;
    top: 10px !important;
}